.fondo{
    background-size: contain;
    background-attachment: fixed;
    align-items: end;
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap !important;
}
.fon{
    background-color: rgb(255, 255, 255);
    padding: 40px;
    flex-wrap: wrap !important;
}

.titulo{
    text-align: justify;
    font-family: cursive;
    flex-wrap: wrap !important;
    color: rgb(0, 0, 0);
}
.titulo2{
    text-align: center;
    font-family: cursive;
    flex-wrap: wrap !important;
    color: rgb(0, 0, 0);
}
.text{
    text-align: justify;
    padding: 70px;
    font-family: cursive;
    flex-wrap: wrap !important;color: rgb(0, 0, 0);
}
.sub{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}
.subt {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-family: cursive;
    text-align: center;
}

.image{
    width: 100px;
    background-size: contain;
    border-radius: 1rem;
    border: 5px double #280a41;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-style: italic;
    display: flex;
    margin: auto;
}

.welcome{
    background-color: rgb(120, 167, 255);
    width: 100% !important; 
    max-width: 100% !important; 
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    border: 3px double #280a41;
}
.pro {
    border-radius: 20px;
    box-shadow: 0 3px 9px rgba(0,0,0,0.08);
    border: 3px double #280a41;
}
.not{
    border-radius: 20px;
    box-shadow: 0 3px 9px rgba(0,0,0,0.08);
    border: 3px double #280a41;

}
.tirita-neg{
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-size: 1.5rem;
    font-weight: normal;
    color: #9c1c4f;
}
.me{
    font-size: medium;
}